In [3]:
import pandas as pd
import numpy as np

In [5]:
# Create a numpy array
a = np.array([2,3,8,4,5,6])
print(a)

[2 3 8 4 5 6]

In [6]:
arr = np.arange(1, 11, 2)
print(arr)

[1 3 5 7 9]

In [7]:
zero = np.zeros((3,3))
print(zero)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [8]:
one = np.ones((3,3))
one

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [9]:
const_arr = np.full((2, 2), 8)
const_arr

array([[8, 8],
       [8, 8]])

In [11]:
iden = np.eye(5)
iden

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [16]:
ra = np.random.random((2, 4))
ra

array([[0.57359211, 0.62087365, 0.9753263 , 0.18180979],
       [0.21460011, 0.75457475, 0.24873903, 0.61456111]])

In [17]:
np.shape(ra)

(2, 4)

In [18]:
mat = np.array([[1, 2], [3, 4], [5, 6]])
print(mat)

[[1 2]
 [3 4]
 [5 6]]

In [21]:
print(mat[1,1])

4

In [22]:
dt_arr = np.arange(1, 11, dtype=np.float32)
print(dt_arr)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]

In [23]:
c = complex(42, 1)
print(c)

(42+1j)

In [24]:
print(c.real, c.imag)

42.0 1.0

In [30]:
# manipulating array shaepes
arr = np.arange(1, 16)
print(arr)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

In [31]:
new_arr = arr.reshape(3, 5)
print(new_arr)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]

In [32]:
arr2 = new_arr.flatten()
print(arr2)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

In [33]:
tra = new_arr.transpose()
print(tra)

[[ 1  6 11]
 [ 2  7 12]
 [ 3  8 13]
 [ 4  9 14]
 [ 5 10 15]]

In [40]:
(arr.resize(1, 15))
print(arr)

[[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]]

In [41]:
# horizontal stacking
arr1 = np.arange(1, 10).reshape(3, 3)
print(arr1)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [42]:
arr2 = arr1*2
print(arr2)

[[ 2  4  6]
 [ 8 10 12]
 [14 16 18]]

In [43]:
arr3 = np.hstack((arr1, arr2))
print(arr3)

[[ 1  2  3  2  4  6]
 [ 4  5  6  8 10 12]
 [ 7  8  9 14 16 18]]

In [45]:
arr4 = np.concatenate((arr1, arr2), axis=1)
print(arr4)

[[ 1  2  3  2  4  6]
 [ 4  5  6  8 10 12]
 [ 7  8  9 14 16 18]]

In [47]:
arr5 = np.concatenate((arr1, arr2), axis=0)
print(arr5)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [ 2  4  6]
 [ 8 10 12]
 [14 16 18]]

In [48]:
# Partitioning arrays
arr = np.arange(1, 11).reshape(2, 5)
print(arr)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [49]:
arr_hor_split = np.hsplit(arr, 5)
print(arr_hor_split)

[array([[1],
       [6]]), array([[2],
       [7]]), array([[3],
       [8]]), array([[4],
       [9]]), array([[ 5],
       [10]])]

In [55]:
arr_ver_split = np.vsplit(arr, 2)
print(arr_ver_split)

[array([[1, 2, 3, 4, 5]]), array([[ 6,  7,  8,  9, 10]])]

In [56]:
# Changing dtypes of np array
arr = np.arange(1, 10).reshape(3, 3)
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [57]:
arr = arr.astype(float)
print(arr)

[[1. 2. 3.]
 [4. 5. 6.]
 [7. 8. 9.]]

In [58]:
# Converting np arr to Python list
arr = np.arange(1, 10)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [59]:
list1 = arr.tolist()
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
# Numpy views and copies
arr = np.arange(1, 26).reshape(5, 5)
print(arr)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [61]:
# Deep Copy
arr_copy = arr.copy()
print(arr_copy)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [62]:
arr_view = arr.view()
print(arr_view)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [63]:
arr[1] = [-1, -2, -3, -4, -5]

In [64]:
print(arr_copy)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [65]:
print(arr_view)

[[ 1  2  3  4  5]
 [-1 -2 -3 -4 -5]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [66]:
arr_flat = arr.flatten()

In [67]:
arr_flat[arr_flat>10]

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25])

In [69]:
arr[arr>10]

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25])

In [70]:
arr[[1,2]]

array([[-1, -2, -3, -4, -5],
       [11, 12, 13, 14, 15]])

In [71]:
# Pandas DataFrame

In [72]:
df = pd.DataFrame()
df.head()

Empty DataFrame
Columns: []
Index: []

In [73]:
data = {'Name': ['Unknown', 'Money', 'Career', 'Love'],
           'Age': [0, 2, 1000000000, 0]}
df = pd.DataFrame(data)
df

      Name         Age
0  Unknown           0
1    Money           2
2   Career  1000000000
3     Love           0

In [74]:
dic1 = {'Ajay':1, 'Vijay':2, 'Dhananjay':3}
series = pd.Series(dic1)
series

Ajay         1
Vijay        2
Dhananjay    3
dtype: int64